Escritorio/Connected Services/ServiceReference1/ServiceViaje1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NegocioEmp.Entidad" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NegocioEmp.Entidad" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfViajeM">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ViajeM" nillable="true" type="tns:ViajeM" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfViajeM" nillable="true" type="tns:ArrayOfViajeM" />
  <xs:complexType name="ViajeM">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Destino_Viaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hora_Fin_Viaje" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Hora_Inicio_Viaje" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id_Empleado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id_Vehiculo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id_Viaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre_Empleado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre_Pasajero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Origen_Viaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Placa_Vehiculo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ViajeM" nillable="true" type="tns:ViajeM" />
</xs:schema>